.chat {
    width: auto;
}

.chatHeader {
    position: fixed;
    height: 52px;
    
    width: 100%;
    max-width: 850px;

    display: flex;
    justify-content: space-around;

    background-color: #64E662;

    font-size: 35px;
}

.chatName {
    display: table-cell;
    vertical-align: middle;

    margin-right: 10px;
}

.chatActions {
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.backButton, .addMemberButton, .exitChatButton {
    width: 100px;
    height: 30px;

    display: table-cell;
    vertical-align: middle;
}

/* Back button */

.backButton {
    background-color: #B3F5AD;
}

.backButton:active {
    background-color: #9edc98;
}

/* Member add components */

.addMemberButton {
    background-color: #8CE4CA;
    margin-left: 10px;
}

.addMemberButton:active {
    background-color: #7acdb4;
}

.addMemberMenuWrapper {
    z-index: 999;

    position: fixed;
    top: 112px;

    width: 100%;
    max-width: 300px;
    height: 100px;

    text-align: center;

    margin: 0 auto;
}

.closeAddMemberMenuButton, .confirmAddMemberMenuButton {
    position: absolute;
    top: 0;
}

.confirmAddMemberMenuButton {
    background-color: #76FF73;
    left: 0;
}

.confirmAddMemberMenuButton:active {
    background-color: #64db62;
}

.closeAddMemberMenuButton {
    background-color: #FFB967;
    right: 0;
}

.closeAddMemberMenuButton:active {
    background-color: #e6a65d;
}

.addMemberMenuContent {
    padding-top: 15px;
    background-color: #E4ED7A;
}

.memberIdInput {
    border: 1px solid black;

    background-color: #D2FFC2;

    width: 100%;
    max-width: 200px;
    height: 27px;

    margin-bottom: 10px;

    text-align: center;
    
    display: table-cell;
    vertical-align: middle;
}

/* Exit chat button */
.exitChatButton {
    background-color: #FFAD72;
    margin-left: 10px;
}

.exitChatButton:active {
    background-color: #e19864;
}

/* Message styles */
.messagesZone {
    padding-top: 30px;
    padding-bottom: 70px;
}


.message, .myMessage, .eventMessage {
    margin: 0 auto;
    margin-top: 40px;
    
    width: 90%;
    max-width: 700px;

    background-color: #B3FFDB;
    text-wrap: wrap;


    border: 1px solid black;
    border-radius: 5px;
}

.eventMessage {
    padding-top: 10px;
    padding-bottom: 10px;

    text-align: center;
    font-size: 25px;

    background-color: transparent;
}

.myMessage {
    background-color: #6FFFBA;
}

.messageText {
    font-size: 30px;

    padding-left: 10px;
}

.messagesAuthorName {
    text-align: right;
    padding-bottom: 5px;
    padding-right: 20px;
}

/* Add message input styles */

.addMessageField {
    position: fixed;
	bottom: 0px;

    width: 100%;
    max-width: 850px;

    display: flex;
    justify-content: space-around;
}

.messageInput {
    height: 40px;
    width: 100%;
    max-width: 720px;

    resize: none;

    background-color: #D2FFC2;
}

.messageInput::placeholder {
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.sendButton {
    margin-left: 10px;
    width: 115px;

    font-size: 20px;
    background-color: #7CF6D2;
}

.sendButton:active {
    background-color: #6EDFBD;
}

@media (width <= 450px) {
    .chatHeader {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .messagesZone {
        padding-top: 60px;
    }

    .addMemberMenuWrapper {
        top: 152px;
    }
}
