.profileActions {
    margin-top: 20px;
}

.editButton, .deleteButton, .exitButton {
    font-size: 30px;

    width: 200px;
    height: 50px;

    margin-right: 20px;
}

.editButton {
    background-color: #DEFF7F;
}

.deleteButton {
    background-color: #FFAD72;
}

.exitButton {
    background-color: rgb(255, 68, 39);
}
