.chatView {
    border: 1px solid black;

    margin: 0 auto;
    margin-bottom: 4px;

    background-color: #C6FFFC;
    width: 90%;
    max-width: 710px;
    height: 60px;

    display: flex;
    justify-content: space-between;
}

.chatInfo {
    color: rgb(74, 74, 74);
    width: 100%;
    height: 100%;
}

.chatName {
    font-size: 30px;

    margin: 0;
    padding-left: 48px;
}

.membersCount {
    margin: 0;
    padding-left: 48px;
}

.exitChatBtn {
    width: 100%;
    max-width: 100px;
    height: auto;
    line-height: 15px;
    font-size: 20px;

    margin-left: 10px;

    border: none;
    border-left: 1px solid black;
    background-color: #FFE975;
}

.exitChatBtn:active {
    background-color: #e3ce69;
}