.navBar {
    position: fixed;
	bottom: 0px;
	height: 80px;

    width: 850px;

    background-color: #77FFF7;
}

.navItems {
    display: flex;
    justify-content: space-around;
}

.navItem, a.active {
    margin-top: 20px;

    border: 1px solid black;
    width: 200px;
    height: 50px;

    font-family: 'Jura';
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #A9FFE5;
}

a.active {
    background-color: #16FFC7;
}
