.menuWrapper {
    width: 100%;
    max-width: 710px;
    height: auto;

    margin: 0 auto;
    margin-bottom: 10px;

    background-color: #79EEA1;
    border: 1px solid black;

    text-align: center;
}

.errorMessage {
    color: #C72525;
    padding-bottom: 0;
    margin-bottom: 0;
}

.nameInput {
    margin-top: 10px;
    background-color: #E4FFAC;
    border: 1px solid black;
    width: 300px;
    text-align: center;
}

.menuActions {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    padding-bottom: 10px;
}

.confirmBtn, .cancelBtn {
    width: 100px;
    height: 20px;
}

.cancelBtn {
    background-color: #FFB967;
}

.cancelBtn:active {
    background-color: #e6a65d;
}

.confirmBtn {
    background-color: #76FF73;
}

.confirmBtn:active {
    background-color: #64db62;
}