@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

html {
    font-family: 'Jura';
    background-color: #8AE4CE;
}

body {
    margin: 0 auto;
    width: 850px;
}

.main {
    background-color: #A3E998;
    padding-bottom: 80%;
}

p {
    margin: 0;
    font-family: 'Jura';
}