@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');

html {
    font-family: 'Jura';
    background-color: #8AE4CE;
}

body {
    margin: 0 auto;
    width: 850px;
}

.main {
    background-color: #A3E998;
    padding-bottom: 90%;
}

button {
    font-family: 'Jura';
    border: 1px solid black;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
}
